{% extends "base.html" %}

{% load l10n %}

{% block title %} RLNCLothes :: Detalhes do Cliente {% endblock %}

{% block content %}

<main role="main">

    <div class="jumbotron">
        <h1 class="display-4">Detalhes do Cliente</h1>
    </div>

    <div class="container">

        <p>
            <a class="btn btn-outline-info" href="{% url 'clientes' %}" role="button" title="Listagem de Clientes">
                <i class="bi bi-arrow-left-square-fill"></i>
                Clientes
            </a>
        </p>
 
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}

        <div class="card" style="align-items: center;">
            <div class="card-body" style="align-items: center;width:80%;">
                <h4 class="card-title text-bold">Cliente: {{cliente.nomecliente}} </h4>
                <p class="card-text">
                <table class="table table-sm" style="width:100%">
                    <tr>
                        <td style="width: 25%; min-width: 25%;">Código</td>
                        <td>{{cliente.codcliente}}</td>
                    </tr>
                    <tr>
                        <td>Telefone</td>
                        <td>{{cliente.telefone|default_if_none:'---'}}</td>
                    </tr>
                    <tr>
                        <td>Observações</td>
                        <td>{{cliente.observacao|default_if_none:'---'}}</td>
                    </tr>
                    <tr>
                        <td>Total de Vendas</td>
                        <td>{{cliente.totalvendas|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td>Total de Pagamentos</td>
                        <td>{{cliente.totalpagamentos|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td>Total de Contas a Receber</td>
                        <td>{{cliente.totalcontasareceber|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td>Saldo do Cliente</td>
                        <td>{{cliente.saldocliente|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td class="text-right" colspan="2">
                            <p>
                                <a class="btn btn-outline-warning my-2 my-sm-0"
                                    href="{% url 'cliente_edit' cliente.codcliente %}" role="button"
                                    title="Alterar cliente">
                                    <i class="bi bi-pencil-square"></i>
                                    Alterar</a>
                                <a class="btn btn-outline-danger my-2 my-sm-0"
                                    href="{% url 'cliente_delete' cliente.codcliente %}" role="button"
                                    title="Apagar cliente">
                                    <i class="bi bi-trash"></i>
                                    Apagar</a>
                            </p>
                        </td>
                    </tr>
                </table>
                </p>

                {% if error_message %}
                <div class="alert alert-danger">
                    <strong>ATENÇÃO: </strong>{{error_message}}
                    </ul>
                </div>
                {% endif %}

                <div>
                    <a class="btn btn-outline-info my-2 my-sm-0 "
                        href="{% url 'cliente_novavenda' cliente.codcliente %}" role="button" title="Nova Venda">
                        <i class="bi bi-handbag"></i>
                        Nova Venda</a>
                    <a class="btn btn-outline-info my-2 my-sm-0"
                        href="{% url 'cliente_novopagamento' cliente.codcliente %}" role="button"
                        title="Novo Pagamento">
                        <i class="bi bi-currency-dollar"></i>
                        Novo Pagamento</a>
                    <a class="btn btn-outline-info my-2 my-sm-0"
                        href="{% url 'gerar_parcelas' cliente.codcliente %}" role="button"
                        title="Gerar Parcelas Automaticamente">
                        <i class="bi bi-calculator"></i>
                        Gerar Parcelas</a>
                    <!--
                    <a class=" btn btn-outline-info my-2 my-sm-0" href="#" role="button"
                        title="Ajustar Contas a Receber">
                        <i class="bi bi-currency-dollar"></i>
                        Ajustar Contas a Receber</a>
                    -->
                </div>

            </div> <!-- card-body -->
        </div> <!-- card -->

        <div class="card" style="align-items: center;">
            <div class="card-body" style="align-items: center;width:100%;">

                <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item">
                        <a class="nav-link {% if subview_name == 'historico_cliente' %} active  bg-dark text-light {% endif %}"
                            aria-current="page"
                            href="{% url 'cliente_detail' cliente.codcliente 'historico_cliente' %}">
                            <i class="bi bi-list-columns"></i>
                            Histórico</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if subview_name == 'vendas_cliente' %}active  bg-dark text-light {% endif %}"
                            href="{% url 'cliente_detail' cliente.codcliente 'vendas_cliente' %}">
                            <i class="bi bi-handbag"></i>
                            Vendas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if subview_name == 'pagamentos_cliente' %}active bg-dark text-light {% endif %}"
                            href="{% url 'cliente_detail' cliente.codcliente 'pagamentos_cliente' %}">
                            <i class="bi bi-currency-dollar"></i>
                            Pagamentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if subview_name == 'areceber_cliente' %}active bg-dark text-light {% endif %}"
                            href="{% url 'cliente_detail' cliente.codcliente 'areceber_cliente' %}">
                            <i class="bi bi-bank"></i>
                            Previsão de Pagamentos</a>
                    </li>
                </ul>

                {% if subview_name == 'historico_cliente' %}
                {% include "clientes/cliente_detail_historico.html" %}
                {% elif subview_name == 'vendas_cliente' %}
                {% include "clientes/cliente_detail_vendas.html" %}
                {% elif subview_name == 'pagamentos_cliente' %}
                {% include "clientes/cliente_detail_pagamentos.html" %}
                {% elif subview_name == 'areceber_cliente' %}
                {% include "clientes/cliente_detail_areceber.html" %}
                {% endif %}


            </div> <!-- card-body -->
        </div> <!-- card -->

    </div> <!-- /container -->

</main>


{% endblock content %}