{% extends "base.html" %}

{% block content %}

<main role="main" style="padding-top: 60px;">

    <div class="container">

        <p>
            <a class="btn btn-outline-info" href="{% url 'clientes' %}" role="button" title="Listagem de Clientes">
                <i class="bi bi-arrow-left-square-fill"></i>
                Clientes
            </a>
        </p>

        <div class="card" style="align-items: center;">
            <div class="card-body" style="align-items: center;width:80%;">
                <h4 class="card-title text-bold">Cliente: {{cliente.nomecliente}} </h4>
                <p class="card-text">
                <table class="table table-sm" style="width:100%">
                    <tr>
                        <td style="width: 25%; min-width: 25%;">Código</td>
                        <td>{{cliente.codcliente}}</td>
                    </tr>
                    <tr>
                        <td>Telefone</td>
                        <td>{{cliente.telefone|default_if_none:'---'}}</td>
                    </tr>
                    <tr>
                        <td>Saldo</td>
                        <td>{{cliente.saldocliente|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td class="text-right" colspan="2">
                            <p>
                                <a class="btn btn-outline-warning my-2 my-sm-0"
                                    href="{% url 'cliente_edit' cliente.codcliente %}" role="button"
                                    title="Alterar pedido">
                                    <i class="bi bi-pencil-square"></i>
                                    Alterar</a>
                                <a class="btn btn-outline-danger my-2 my-sm-0"
                                    href="{% url 'cliente_delete' cliente.codcliente %}" role="button"
                                    title="Apagar pedido">
                                    <i class="bi bi-trash"></i>
                                    Apagar</a>
                            </p>
                        </td>
                    </tr>
                </table>
                </p>
            </div> <!-- card-body -->
        </div> <!-- card -->

        <div class="card" style="align-items: center;">
            <div class="card-body" style="align-items: center;width:80%;">
                <p>
                    <a class="btn {% if subview_name == 'historico_cliente' %} btn-success {% else %} btn-outline-info {% endif %}my-2 my-sm-0 "
                        href="{% url 'cliente_detail' cliente.codcliente 'historico_cliente' %}" role="button"
                        title="Histórico">
                        <i class="bi bi-list-columns"></i>
                        Histórico</a>
                    <a class="btn {% if subview_name == 'vendas_cliente' %} btn-success {% else %} btn-outline-info {% endif %}  my-2 my-sm-0 {% if view_name == 'vendas_cliente' %}active{% endif %}"
                        href="{% url 'cliente_detail' cliente.codcliente 'vendas_cliente' %}" role="button"
                        title="Vendas">
                        <i class="bi bi-handbag"></i>
                        Vendas</a>
                    <a class="btn  {% if subview_name == 'pagamentos_efetivos' %} btn-success {% else %} btn-outline-info {% endif %} my-2 my-sm-0"
                        href="{% url 'cliente_detail' cliente.codcliente 'pagamentos_efetivos' %}" role="button"
                        title="Pagamentos">
                        <i class="bi bi-currency-dollar"></i>
                        Pagamentos Efetivos</a>
                    <a class="btn  {% if subview_name == 'pagamentos_previstos' %} btn-success {% else %} btn-outline-info {% endif %} my-2 my-sm-0"
                        href="{% url 'cliente_detail' cliente.codcliente 'pagamentos_previstos' %}" role="button"
                        title="Pagamentos">
                        <i class="bi bi-currency-dollar"></i>
                        Pagamentos Previstos</a>
                </p>

                {% if subview_name == 'historico_cliente' %}
                {% include "clientes/cliente_detail_historico.html" %}
                {% elif subview_name == 'vendas_cliente' %}
                {% include "clientes/cliente_detail_vendas.html" %}
                {% endif %}

                <h5 class="card-title text-bold bg-dark text-light">
                    {% if subview_name == 'historico_cliente' %} Histórico:{% endif %}
                    {% if subview_name == 'vendas_cliente' %} Vendas:{% endif %}
                    {% if subview_name == 'pagamentos_efetivos' %} Pagamentos Efetivos:{% endif %}
                    {% if subview_name == 'pagamentos_previstos' %} Pagamentos Previstos:{% endif %}
                </h5>


                <p class="card-text">

                <table class="table table-sm" style="width:100%">

                    <tr>
                        {% for c in table.colunas %}
                        <th>{{c}} </th>
                        {% endfor %}
                    </tr>

                    {% for row in table.dados %}
                    <tr>
                        {% for value in row %}
                        <td>{{value}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    <!--
                    <tr>
                        <td>{{h.tipooperacao}}</td>
                        <td>{{h.data|date:"d/m/Y"}}</td>
                        <td>{{h.descricao}}</td>
                        <td class="text-right">{{h.valor|floatformat:2}}</td>
                        <td>{{h.observacao|default_if_none:"---"}}</td>
                    </tr> 
                    { % endfor   }-->

                </table>
                <h5 class="card-title text-bold bg-dark text-light text-right">{{table.valor|floatformat:2}}</h5>
                </p>

            </div> <!-- card -->
        </div>

    </div> <!-- /container -->

</main>


{% endblock content %}