{% extends "base.html" %}

{% block content %}



<main role="main">

    <div class="jumbotron">
        <h2 class="display-5"> Visualizar Cliente: {{cliente.codcliente}} </h2>
    </div>

    <div class="container">

        <p><a class="btn btn-outline-info" href="{% url 'clientes' %}" role="button" title="Listagem de Clientes">
                <i class="bi bi-list-columns-reverse"></i>
                Clientes</a></p>

        <div class="card" style="align-items: center;">
            <div class="card-body" style="align-items: center;width:60%;">
                <h5 class="card-title text-bold">Cliente: {{cliente.nomecliente}} </h5>
                <p class="card-text">
                <table class="table" style="width:100%">
                    <tr>
                        <td style="width: 25%; min-width: 25%;">Código</td>
                        <td>{{cliente.codcliente}}</td>
                    </tr>
                    <tr>
                        <td>Nome</td>
                        <td>{{cliente.nomecliente}}</td>
                    </tr>
                    <tr>
                        <td>Telefone</td>
                        <td>{{cliente.telefone}}</td>
                    </tr>
                    <tr>
                        <td>Saldo</td>
                        <td>{{cliente.saldocliente}}</td>
                    </tr>
                    <tr>
                        <td> &nbsp;</td>
                        <td class="text-right">
                            <p>
                                <a class="btn btn-outline-warning my-2 my-sm-0"
                                    href="{% url 'cliente_edit' cliente.codcliente %}" role="button"
                                    title="Alterar pedido">
                                    <i class="bi bi-pencil-square"></i>
                                    Alterar</a>
                                <a class="btn btn-outline-danger my-2 my-sm-0"
                                    href="{% url 'cliente_delete' cliente.codcliente %}" role="button"
                                    title="Apagar pedido">
                                    <i class="bi bi-trash"></i>
                                    Apagar</a>
                            </p>
                        </td>
                    </tr>
                </table>
                </p>
            </div> <!-- card-body -->
        </div> <!-- card -->

        <div class="card" style="align-items: center;">
            <div class="card-body" style="align-items: center;width:80%;">
                <h5 class="card-title text-bold bg-dark text-light">Histórico:</h5>
                <p class="card-text">
                <table class="table" style="width:100%">

                    {% for h in historicocliente %}
                    <tr>
                        <td>{{h.tipooperacao}}</td>
                        <td>{{h.data|date:"d/m/Y"}}</td>
                        <td>{{h.descricao}}</td>
                        <td>{{h.valor}}</td>
                        <td>{{h.observacao}}</td>
                    </tr>
                    {% endfor %}

                </table>
                </p>
            </div> <!-- card -->

        </div> <!-- /container -->

</main>


{% endblock content %}