<h5 class="card-title text-bold bg-dark text-light">Valores a Receber: </h5>

<div class="card-text">

    <table class="table table-sm" style="width:100%">

        <tr>
            <th>Id </th>
            <th>Descrição</th>
            <th>Data Vencimento</th>
            <th>Observacao</th>
            <th class="text-right">Valor Previsto</th>
        </tr>

        {% for p in table.dados %}
        <tr>
            <td>{{p.0}}</td>
            <td>{{p.1|default_if_none:'---'}}</td>
            <td>{{p.2|date:"d/m/Y"}}</td>
            <td>{{p.4|default_if_none:'---'}}</td>
            <td class="text-right" style="color:blue">R$ {{p.3|floatformat:2}}</td>
            <td>
                <a href="{% url 'pagamento_detail' p.0 %}" class="btn btn-outline-info px-2 py-1"><i
                        class="bi bi-file-ruled bi-sm" title="Detalhes"></i> </a>
                <a href="{% url 'pagamento_edit' p.0 %}" class="btn btn-outline-warning px-2 py-1"><i
                        class="bi bi-pencil-square bi-sm" title="Alterar"></i> </a>
                <a href="{% url 'pagamento_delete' p.0 %}" class="btn btn-outline-danger px-2 py-1"><i
                        class="bi bi-trash bi-sm" title="Apagar"></i> </a>
            </td>
        </tr>
        {% endfor %}

    </table>
    <h5 class="card-title text-bold bg-dark text-light text-right">Total a receber: {{table.valor|floatformat:2}}</h5>
</div>