<h5 class="card-title text-bold bg-dark text-light">Valores a Receber: </h5>

<div class="card-text">

    <table class="table table-sm" style="width:100%">

        <tr>
            <th>Id </th>
            <th>Data Vencimento</th>
            <th>Observacao</th>
            <th class="text-right">Valor Previsto</th>
        </tr>

        {% for h in table.dados %}
        <tr>
            <td>{{h.0}}</td>
            <td>{{h.1|date:"d/m/Y"}}</td>
            <td>{{h.3|default_if_none:'---'}}</td>
            <td class="text-right" style="color:blue">R$ {{h.2|floatformat:2}}</td>
        </tr>
        {% endfor %}

    </table>
    <h5 class="card-title text-bold bg-dark text-light text-right">Total a receber: {{table.valor|floatformat:2}}</h5>
</div>