{% extends "base.html" %}

{% load django_tables2 %}

{% load humanize %}

{% block title %} RLNCLothes :: Saldo por Cliente {% endblock %}

{% block content %}
<main role="main">
    <div class="jumbotron">
        <h1 class="display-4">Saldo em Aberto por Cliente</h1>
    </div>

    <div class="container">

        <div class="row">

            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th class="text-center">Cód. Cliente</th>
                        <th>Nome Cliente</th>
                        <th class="text-right">Saldo a Pagar</th>
                        <th class="text-right">Previsão de Pagamentos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for saldo in saldos %}
                    <tr>
                        <th class="text-center">{{saldo.cliente.codcliente}}</th>
                        <th>{{saldo.cliente.nomecliente}}</th>
                        <th class="text-right">R$ {{saldo.saldocliente|floatformat:2}}</th>
                        <th class="text-right">R$ {{saldo.valorareceber|floatformat:2}}</th>

                    </tr>
                    {% if saldo.saldocliente != saldo.valorareceber %}
                    <tr>
                        <td colspan="4" class="text-center">
                            <span class="text-danger small">
                                <i class="bi bi-patch-exclamation"></i>&nbsp;ATENÇÂO: Identificada inconsistência
                                entre 'Saldo a Pagar' e 'Previsão de Pagamentos'. Verificar!
                            </span>
                            <!-- {{saldo.saldocliente}} != {{saldo.valorareceber}} -->
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th class="h6">&nbsp;</th>
                        <th class="h6">Descrição Pagamento</th>
                        <th class="h6 text-center">Data Prevista</th>
                        <th class="h6 text-right">Valor Parcela</th>
                    </tr>
                    {% for conta in saldo.contasareceber%}
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            {{conta.codpagamento}} {{conta.formapagamento|default_if_none:"---"}}
                        </td>
                        <td class="text-center">
                            {{conta.datapagamento|date:"d/m/Y"}}
                        </td>
                        <td class="text-right">
                            R$ {{conta.valorpagamento|floatformat:2}}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="h6" colspan="4"><small>&nbsp;</small></td>
                    </tr>
                    {% endfor %}
                    <tr class="text-right">
                        <td colspan="3">
                            <strong>Saldo Total dos Clientes: R$ {{saldototalclientes|floatformat:2}}</strong>
                        </td>
                        <td>
                            <strong>Previsão de Pagamentos: R$ {{saldocontasaReceber|floatformat:2}}</strong>
                        </td>
                    </tr>
                    <tr class="text-left">
                        <td colspan="4">
                            <small>Data impressão: {{datareferencia|date:"d/m/Y H:i:s"}}</small>
                        </td>
                    </tr>
                </tbody>
            </table>



        </div><!-- /row -->
    </div><!-- /container -->
</main>

{% endblock content %}