{% extends "base.html" %}

{% load django_tables2 %}

{% load humanize %}

{% block content %}
<main role="main">
    <div class="jumbotron">
        <h1 class="display-4">{{titulo}}</h1>
    </div>

    <div class="container">

        <div class="row">

            {% for mes in meses %}
            <table class="table table-striped table-sm">
                <thead>
                    <tr aria-colspan="4">
                        <th colspan="4">
                            <h5>Mês : {{mes.mesano}}</h5>
                        </th>
                    </tr>
                    <tr>
                        <th class="text-center">Data Pagamento</th>
                        <th>Nome Cliente</th>
                        <th class="text-right">Valor Pagamento</th>
                        <th>Observação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pagamento in mes.pagamentosmes %}
                    <tr>
                        <td class="text-center">{{pagamento.datapagamento|date:"d/m/Y"}}</td>
                        <td>{{pagamento.cliente.codcliente}} -
                            {{pagamento.cliente.nomecliente}}</td>
                        <td class="text-right">R$ {{pagamento.valorpagamento|floatformat:2}}</td>
                        <td>{{pagamento.observacao|default_if_none:"---"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="text-right">
                        <td colspan="3">
                            Total a receber em {{mes.mesano}}: <strong> R$ {{mes.totalmes|floatformat:2}} </strong>
                        </td>
                    </tr>
                </tfoot>
            </table>
            {% endfor %}

            <table class="table table-striped table-sm">
                <tfoot>
                    <tr class="text-right">
                        <td>
                            <strong>Total Geral: R$ {{total|floatformat:2}}</strong>
                        </td>
                    </tr>
                    <tr class="text-left">
                        <td>
                            <small>Data impressão: {{datareferencia|date:"d/m/Y H:i:s"}}</small>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div><!-- /row -->
    </div><!-- /container -->
</main>

{% endblock content %}