{% extends "base.html" %}

{% load django_tables2 %}

{% load humanize %}

{% block title %} RLNCLothes :: Produtos Vendidos {% endblock %}

{% block content %}
<main role="main"
    onload="document.getElementById('tipoconsulta').value = '{{ tipoconsulta }}'; alert(document.getElementById('tipoconsulta').value)">
    <div class="jumbotron">
        <h1 class="display-4">
            {% if tipoconsulta == "T" %}
            Listar Todos os Produtos
            {% elif tipoconsulta == "D" %}
            Listar Produtos Disponíveis
            {% elif tipoconsulta == "V" %}
            Listar Produtos Vendidos
            {% endif %}
        </h1>
    </div>

    <div class="container">
        <div class="row">
            <form method="GET">
                <p>
                    <select name="tipoconsulta">
                        <option value="T">Todos os produtos</option>
                        <option value="D">Apenas os Disponíveis</option>
                        <option value="V">Apenas os vendidos</option>
                    </select>
                    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Filtrar">
                </p>
            </form>

        </div>

        <div class="row">

            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Cód. Fornecedor</th>
                        <th>Referência</th>
                        <th>Descrição</th>
                        <th>Valor Custo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>

                    {% for produto in produtos %}
                    <tr>
                        <td>{{produto.codproduto}}</td>
                        <td>{{produto.codprodutofornecedor}}</td>
                        <td>{{produto.referencia}}</td>
                        <td>{{produto.descricao}}</td>
                        <td class="text-right">{{produto.valorcusto|floatformat:2}}</td>
                        <td class="text-right">
                            <a class="btn btn-outline-info bt-sm px-2 py-1"
                                href="{% url 'consulta_detail_produto' produto.codproduto %}">
                                <i class="bi bi-file-ruled" title="Detalhes do produto"></i></a>
                        </td>
                    </tr>

                    {% endfor %}
                    <tr class="text-right">
                        <td colspan="6">
                            Total de produtos: {{quantidade}}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div> <!-- /container -->
    </div>
</main>

{% endblock content %}