{% extends "base.html" %}

{% load django_tables2 %}

{% load humanize %}

{% block content %}
<main role="main">
    <div class="jumbotron">
        <h1 class="display-4">Saldo em Aberto por Cliente</h1>
    </div>

    <div class="container">

        <div class="row">

            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th class="text-center">Cód. Cliente</th>
                        <th>Nome Cliente</th>
                        <th class="text-right">Saldo a Pagar</th>
                        <th class="text-right">Saldo a Receber</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td class="text-center">{{cliente.codcliente}}</td>
                        <td>{{cliente.nomecliente}}</td>
                        <td class="text-right">R$ {{cliente.saldocliente|floatformat:2}}</td>
                        <td class="text-right">R$ {{cliente.totalcontasareceber|floatformat:2}}</td>
                        <th>
                            {% if cliente.saldocliente != cliente.totalcontasareceber %}
                            <i class="bi bi-patch-exclamation" style="color:red"
                                title="Valores inconsistentes. Verificar!"></i>
                            {% endif %}
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="text-right">
                        <td colspan="3">
                            <strong>Total a receber: R$ {{saldototalclientes|floatformat:2}}</strong>
                        </td>
                        <td>
                            <strong>Total a receber: R$ {{saldocontasaReceber|floatformat:2}}</strong>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="text-left">
                        <td colspan="4">
                            <small>Data impressão: {{datareferencia|date:"d/m/Y H:i:s"}}</small>
                        </td>
                    </tr>
                </tfoot>
            </table>



        </div><!-- /row -->
    </div><!-- /container -->
</main>

{% endblock content %}