{% extends "base.html" %}

{% load django_tables2 %}

{% load humanize %}

{% block content %}

<style>

.card-hover:hover {
    opacity: 0.9;
    transform: scale(1.02);
    transition: 0.2s;
}

table.table{
    scroll-margin-top: 75px;
}

</style>

<a id="topo"></a>
<main role="main">

    <div class="jumbotron">
        <h1 class="display-4">
            Fluxo de Caixa e Mercadorias - Mês {{mesanoselecionado}}
        </h1>
    </div>

    <div class="w-50 mx-auto">
        <form method="POST" class="form">
            {% csrf_token %}
            
            <div class="form-group border rounded">
                <label for="mesanoconsulta" class="font-weight-bold">Selecione o período:</label>
                <div class="row">
                    <div class="col-md-8">
                        <select name="mesanoconsulta" id="mesanoconsulta" class="form-control mb-4 ml-4">
                            {% for mes in meses %}
                                {% if mesanoselecionado == mes %}
                                    <option value="{{mes}}" selected>{{mes}}</option>
                                {% else %}
                                    <option value="{{mes}}">{{mes}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-4">
                        <button type="submit" class="btn btn-md btn-outline-success btn-block mt-2 mt-md-0">
                            Filtrar
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <hr/>

    <div class="row text-center">

        <div class="col mb-3">
            <a href="#tbprodutos" class="text-decoration-none text-reset d-block card-hover">
                <div class="card text-white bg-success h-100">
                    <div class="card-header">Produtos</div>
                    <div class="card-body">
                        <h6>Qtd: {{quantidadeprodutos}}</h6>
                        <h6>Valor: R$ {{totalprodutos|floatformat:2}}</h6>
                    </div>
                </div>
                </a>
        </div>

        <div class="col mb-3">
            <a href="#tbvendas" class="text-decoration-none text-reset d-block card-hover">
                <div class="card text-white bg-info h-100">
                    <div class="card-header">Vendas</div>
                    <div class="card-body">
                        <h6>Qtd: {{quantidadevendas}}</h6>
                        <h6>Valor: R$ {{totalvendas|floatformat:2}}</h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col mb-3">
            <a href="#tbpagamentosatrasados" class="text-decoration-none text-reset d-block card-hover">
                <div class="card text-white bg-danger h-100">
                    <div class="card-header">Pagamentos Atrasados</div>
                    <div class="card-body">
                        <h6>Qtd: {{quantidadepagamentosatrasados}}</h6>
                        <h6>Valor: R$ {{totalpagamentosatrasados|floatformat:2}}</h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col mb-3">
            <a href="#tbpagamentosconfirmados" class="text-decoration-none text-reset d-block card-hover">
                <div class="card text-white bg-success h-100">
                    <div class="card-header">Pagamentos Recebidos</div>
                    <div class="card-body">
                        <h6>Qtd: {{quantidadepagamentosconfirmados}}</h6>
                        <h6>Valor: R$ {{totalpagamentosconfirmados|floatformat:2}}</h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col mb-3">
            <a href="#tbpagamentosareceber" class="text-decoration-none text-reset d-block card-hover">
                <div class="card text-white bg-secondary h-100">
                    <div class="card-header">Pagamentos a Receber</div>
                    <div class="card-body">
                        <h6>Qtd: {{quantidadepagamentosprevistos}}</h6>
                        <h6>Valor: R$ {{totalpagamentosprevistos|floatformat:2}}</h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col mb-3">
            <a href="#tbcontaspagas" class="text-decoration-none text-reset d-block card-hover">
                <div class="card text-white bg-warning h-100">
                    <div class="card-header">Contas Pagas</div>
                    <div class="card-body">
                        <h6>Qtd: {{quantidadecontaspagas}}</h6>
                        <h6>Valor: R$ {{totalcontaspagas|floatformat:2}}</h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col mb-3">
            <a href="#tbcontasapagar" class="text-decoration-none text-reset d-block card-hover">
                <div class="card text-white bg-primary h-100">
                    <div class="card-header">Contas a Pagar</div>
                    <div class="card-body">
                        <h6>Qtd: {{quantidadecontasapagar}}</h6>
                        <h6>Valor: R$ {{totalcontasapagar|floatformat:2}}</h6>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div class="container">
        <div class="row">

            <table class="table table-striped table-sm" id="tbprodutos">
                <thead>
                    <tr class="text-left">
                        <td colspan="8" class="h3"><b>Produtos adquiridos</b></td>
                    </tr>
                    <tr>
                        <th>Pedido</th>
                        <th>Data Compra</th>
                        <th>Id</th>
                        <th>Cód.Forn.</th>
                        <th>Referência</th>
                        <th>Descrição</th>
                        <th>Valor Custo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                    <tr>
                        <td>{{produto.pedido.numeropedido}}</td>
                        <td>{{produto.pedido.datapedido|date:"d/m/Y"}}</td>
                        <td>{{produto.codproduto}}</td>
                        <td>{{produto.codprodutofornecedor}}</td>
                        <td>{{produto.referencia}}</td>
                        <td>{{produto.descricao}}</td>
                        <td class="text-right">R$ {{produto.valorcusto|floatformat:2}}</td>
                    </tr>
                    {% endfor %}
                    <tr class="text-right">
                        <td colspan="3">
                            Quantidade de produtos: {{quantidadeprodutos}}
                        </td>
                        <td colspan="4">
                            Valor de produtos comprados: R$ {{totalprodutos|floatformat:2}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="10"><a href="#topo">Voltar ao topo</a></td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-striped table-sm" id="tbvendas">
                <thead>
                    <tr class="text-left">
                        <td colspan="8" class="h3"><b>Vendas realizadas</b></td>
                    </tr>
                    <tr>
                        <th class="text-center">Data Venda</th>
                        <th>Cliente</th>
                        <th>Produto</th>
                        <th class="text-right">Valor Venda</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venda in vendas %}
                    <tr>
                        <td class="text-center">{{venda.datavenda|date:"d/m/Y"}}</td>
                        <td>{{venda.cliente.codcliente}} -
                            {{venda.cliente.nomecliente}}</td>
                        <td>{{venda.produto.codproduto}} - {{venda.produto}} </td>
                        <td class="text-right">R$ {{venda.valorvenda|floatformat:2}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-right" colspan="2"> Quantidade de vendas: {{quantidadevendas}}</td>
                        <td class="text-right" colspan="2"> Valor vendas: R$ {{totalvendas|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td colspan="10"><a href="#topo">Voltar ao topo</a></td>
                    </tr>
                </tfoot>
            </table>

            <table class="table table-striped table-sm" id="tbpagamentosatrasados">
                <thead>
                    <tr class="text-left">
                        <td colspan="8" class="h3"><b>Pagamentos em Atraso</b></td>
                    </tr>
                    <tr>
                        <th class="text-center">Data Pagamento</th>
                        <th>Nome Cliente</th>
                        <th class="text-right">Valor Pagamento</th>
                        <th>Observação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pagamento in pagamentosatrasados %}
                    <tr>
                        <td class="text-center">{{pagamento.datapagamento|date:"d/m/Y"}}</td>
                        <td>{{pagamento.cliente.codcliente}} -
                            {{pagamento.cliente.nomecliente}}</td>
                        <td class="text-right">R$ {{pagamento.valorpagamento|floatformat:2}}</td>
                        <td>{{pagamento.observacao|default_if_none:"---"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-right" colspan="2"> Quantidade de pagamentos atrasados:
                            {{quantidadepagamentosatrasados}}</td>
                        <td class="text-right" colspan="2"> Total de pagamentos atrasados:
                            {{totalpagamentosatrasados|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td colspan="10"><a href="#topo">Voltar ao topo</a></td>
                    </tr>
                </tfoot>
            </table>

            <table class="table table-striped table-sm" id="tbpagamentosconfirmados">
                <thead>
                    <tr class="text-left">
                        <td colspan="8" class="h3"><b>Pagamentos Recebidos</b></td>
                    </tr>
                    <tr>
                        <th class="text-center">Data Pagamento</th>
                        <th>Nome Cliente</th>
                        <th class="text-right">Valor Pagamento</th>
                        <th>Observação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pagamento in pagamentosconfirmados %}
                    <tr>
                        <td class="text-center">{{pagamento.datapagamento|date:"d/m/Y"}}</td>
                        <td>{{pagamento.cliente.codcliente}} -
                            {{pagamento.cliente.nomecliente}}</td>
                        <td class="text-right">R$ {{pagamento.valorpagamento|floatformat:2}}</td>
                        <td>{{pagamento.observacao|default_if_none:"---"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-right" colspan="2"> Quantidade de pagamentos artasados:
                            {{quantidadepagamentosconfirmados}}</td>
                        <td class="text-right" colspan="2"> Total de pagamentos atrasados:
                            {{totalpagamentosconfirmados|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td colspan="10"><a href="#topo">Voltar ao topo</a></td>
                    </tr>
                </tfoot>
            </table>

            <table class="table table-striped table-sm" id="tbpagamentosareceber">
                <thead>
                    <tr class="text-left">
                        <td colspan="8" class="h3"><b>Pagamentos a Receber</b></td>
                    </tr>
                    <tr>
                        <th class="text-center">Data Pagamento</th>
                        <th>Nome Cliente</th>
                        <th class="text-right">Valor Pagamento</th>
                        <th>Observação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pagamento in pagamentosprevistos %}
                    <tr>
                        <td class="text-center">{{pagamento.datapagamento|date:"d/m/Y"}}</td>
                        <td>{{pagamento.cliente.codcliente}} -
                            {{pagamento.cliente.nomecliente}}</td>
                        <td class="text-right">R$ {{pagamento.valorpagamento|floatformat:2}}</td>
                        <td>{{pagamento.observacao|default_if_none:"---"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-right" colspan="2"> Quantidade de pagamentos a receber:
                            {{quantidadepagamentosprevistos}}</td>
                        <td class="text-right" colspan="2"> Total de pagamentos a receber:
                            {{totalpagamentosprevistos|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td colspan="10"><a href="#topo">Voltar ao topo</a></td>
                    </tr>
                </tfoot>
            </table>

            <table class="table table-striped table-sm" id="tbcontaspagas">
                <thead>
                    <tr class="text-left">
                        <td colspan="7" class="h3"><b>Notas Fiscais/Parcelas Pagas</b></td>
                    </tr>
                    <tr>
                        <th>Nota Fiscal</th>
                        <th class="text-center">Parcela</th>
                        <th class="text-center">Data Vencimento</th>
                        <th class="text-right">Valor Parcela</th>
                        <th class="text-center">Data Pagamento</th>
                        <th>Forma Pagamento</th>
                        <th>Observação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for conta in contaspagas %}
                    <tr>
                        <td>{{conta.notafiscal}} </td>
                        <td class="text-center">{{conta.parcela}} </td>
                        <td class="text-center">{{conta.datavencimento|date:"d/m/Y"}}</td>
                        <td class="text-right">R$ {{conta.valorparcela|floatformat:2}}</td>
                        <td class="text-center">{{conta.datapagamento|date:"d/m/Y"}}</td>
                        <td>{{conta.formapagamento|default_if_none:"---"}}</td>
                        <td>{{conta.observacao|default_if_none:"---"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                    <tr>
                        <td class="text-right" colspan="3"> Quantidade de contas pagas:
                            {{quantidadecontaspagas}}</td>
                        <td class="text-right" colspan="4"> Total de Contas pagas:
                            {{totalcontaspagas|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td colspan="10"><a href="#topo">Voltar ao topo</a></td>
                    </tr>
                </tfoot>
            </table>

            <table class="table table-striped table-sm" id="tbcontasapagar">
                <thead>
                    <tr class="text-left">
                        <td colspan="7" class="h3"><b>Notas Fiscais/Parcelas A Pagar</b></td>
                    </tr>
                    <tr>
                        <th>Nota Fiscal</th>
                        <th class="text-center">Parcela</th>
                        <th class="text-center">Data Vencimento</th>
                        <th class="text-right">Valor Parcela</th>
                        <th>Forma Pagamento</th>
                        <th>Observação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for conta in contasapagar %}
                    <tr>
                        <td>{{conta.notafiscal}} </td>
                        <td class="text-center">{{conta.parcela}} </td>
                        <td class="text-center">{{conta.datavencimento|date:"d/m/Y"}}</td>
                        <td class="text-right">R$ {{conta.valorparcela|floatformat:2}}</td>
                        <td>{{conta.notafiscal.formapagamento|default_if_none:"---"}}</td>
                        <td>{{conta.observacao|default_if_none:"---"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                    <tr>
                        <td class="text-right" colspan="3"> Quantidade de contas a pagar:
                            {{quantidadecontasapagar}}</td>
                        <td class="text-right" colspan="4"> Total de Contas a pagar:
                            {{totalcontasapagar|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td colspan="10"><a href="#topo">Voltar ao topo</a></td>
                    </tr>
                </tfoot>
            </table>

            <table class="table table-striped table-sm">
                <tfoot>
                    <tr class="text-left">
                        <td colspan="8">
                            <small>Data referência: {{datareferencia|date:"d/m/Y H:i:s"}}</small>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div> <!-- /container -->
    </div>
</main>

{% endblock content %}