{% extends "base.html" %}

{% block title %} Editar pedido: {{form.numeropedido.value}} {% endblock %}

{% block content %}

<main role="main">

    <div class="jumbotron">
        <h2 class="display-5"> Editar Pedido: {{form.numeropedido.value}} </h2>
    </div>

    <div class="container">
        <div class="row">
            <form action="" method="post"> {% csrf_token %}
                <table>
                    <tr>
                        <th class="display-5"><label>Cód. Pedido.:&nbsp;</label></th>
                        <td>
                            <h5 class="display-5"> {{form.codpedido.value}}</h6>
                        </td>
                    </tr>
                    <tr>
                        <th class="display-5"><label>Tipo Pedido.:&nbsp;</label></th>
                        <td>
                            {% if form.tipopedido.value == 'C' %}
                            <h5 class="display-5">Compra</h6>
                                {% else %}
                                <h5 class="display-5">Devolução</h6>
                                    {% endif %}
                        </td>
                    </tr>
                    {{form.as_table}}
                    <tr>
                        <td>&nbsp;</td>
                        <td class="text-right">
                            <p>
                                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Save">
                                <input class="btn btn-outline-danger my-2 my-sm-0" type="button"
                                    onclick="location.href='{% url 'pedido_detail' form.codpedido.value %}'"
                                    name="cancel" value="Cancelar">

                            </p>
                        </td>
                    </tr>
                </table>

            </form>

        </div>

        <hr>

    </div> <!-- /container -->

</main>

{% endblock content %}