{% extends "base.html" %}

{% load django_tables2 %}

{% load humanize %}

{% block content %}
<main role="main">
    <div class="jumbotron">
        <h1 class="display-4">Pedidos</h1>
    </div>

    <div class="container">
        <div class="row">

            <p><a class="btn btn-primary" href="{% url 'pedido_new' %}" role="button">Novo Pedido</a></p>

            <div class="container">
                <table class="table table-striped orderable">
                    {% for column in table.columns %}
                    <th>{{ column.header }}</th>
                    {% endfor %}
                    <th>
                        A&ccedil;&otilde;es
                    </th>
                    {% for row in table.page %}

                    <tr>

                        {% for column, cell in row.items %}
                        <td>
                            {{ cell }}
                        </td>
                        {% endfor %}
                        <td>
                            <p><a href="{% url 'pedido_detail' row.record.codpedido %}"
                                    class="btn btn-sm btn-info"><span class="bi bi-file-earmark-ruled">Detalhes</span>
                                </a>
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>

            </div>

            <hr>

        </div> <!-- /container -->
    </div>
</main>

{% endblock content %}