{% extends "base.html" %}

{% load django_tables2 %}

{% load humanize %}

{% block content %}
<main role="main">
    <div class="jumbotron">
        <h1 class="display-4">Pedidos</h1>
    </div>

    <div class="container">
        <div class="row">

            <p><a class="btn btn-primary" href="{% url 'pedido_new' %}" role="button"><i
                        class="bi bi-calendar-plus"></i>&nbsp;Novo Pedido</a></p>

            <div class="container">
                <table class="table table-striped orderable">
                    {% for column in table.columns %}
                    <th>{{ column.header }}</th>
                    {% endfor %}
                    <th>
                        A&ccedil;&otilde;es
                    </th>
                    {% for row in table.page %}

                    <tr>

                        {% for column, cell in row.items %}
                        <td>
                            {{ cell }}
                        </td>
                        {% endfor %}
                        <td>
                            <p><a href="{% url 'pedido_detail' row.record.codpedido %}" class="btn btn-info"><i
                                        class="bi bi-file-earmark-ruled" title="Detalhes"></i>
                                </a>
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% block pagination.allpages %}
                {% for p in table.paginator.page_range %}
                <a href="{% querystring table.prefixed_page_field=p %}">{{ p }}</a>
                {% endfor %}
                {% endblock pagination.allpages %}
            </div>

            <hr>

        </div> <!-- /container -->
    </div>
</main>

{% endblock content %}