{% extends "base.html" %}

{% block content %}

<main role="main">

    <div class="jumbotron">
        <h2 class="display-5"> Detalhes do Pedido {{pedido.numeropedido}} </h2>
    </div>

    <div class="container">

        <p><a class="btn btn-outline-info" href="{% url 'pedidos' %}" role="button" title="Listagem de pedidos">
                <i class="bi bi-arrow-left-square-fill"></i>
                Pedidos</a></p>

        <div class="card" style="align-items: center;">
            <div class="card-body" style="align-items: center;width:60%;">
                <h5 class="card-title text-bold">Pedido: {{pedido.numeropedido}} </h5>
                <p class="card-text">
                <table class="table" style="width:100%">
                    <tr>
                        <td style="width: 25%; min-width: 25%;">Código</td>
                        <td>{{pedido.codpedido}}</td>
                    </tr>
                    <tr>
                        <td>Fornecedor</td>
                        <td>{{pedido.fornecedor}}</td>
                    </tr>
                    <tr>
                        <td>Nota Fiscal</td>
                        <td>{{pedido.notafiscal}}</td>
                    </tr>
                    <tr>
                        <td>Data </td>
                        <td>{{pedido.datapedido|date:"d/m/Y"}}</td>
                    </tr>
                    <tr>
                        <td>Valor</td>
                        <td>{{pedido.valorpedido|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td>Observação</td>
                        <td>{{pedido.observacao}}</td>
                    </tr>
                    {% if view_name == "list_produtos" %}
                    <tr>
                        <td> &nbsp;</td>
                        <td class="text-right">
                            <p>
                                <a class="btn btn-outline-warning my-2 my-sm-0"
                                    href="{% url 'pedido_edit' pedido.codpedido %}" role="button"
                                    title="Alterar pedido">
                                    <i class="bi bi-pencil-square"></i>
                                    Alterar</a>
                                <a class="btn btn-outline-danger my-2 my-sm-0"
                                    href="{% url 'pedido_delete' pedido.codpedido %}" role="button"
                                    title="Apagar pedido">
                                    <i class="bi bi-trash"></i>
                                    Apagar</a>
                            </p>
                        </td>
                    </tr>
                    {% endif %}
                </table>
                </p>
            </div> <!-- card-body -->
        </div> <!-- card -->

        {% if view_name == "create_produto" %}
        <div class="card" style="align-items: center;">
            <div class="card-header text-bold bg-info text-light" style="align-items: center;width:60%;">
                <h5>Criar Produto:</h5>
            </div>
            {% include 'pedidos/produto_edit.html'%}
        </div> <!-- card -->
        {% endif %}

        {% if view_name == "edit_produto" %}
        <div class="card" style="align-items: center;">
            <div class="card-header text-bold bg-info text-light" style="align-items: center;width:60%;">
                <h5>Alterar Produto:</h5>
            </div>
            {% include 'pedidos/produto_edit.html'%}
        </div> <!-- card -->
        {% endif %}

        {% if view_name == "detail_produto" %}
        {% include 'pedidos/produto_detail.html' %}
        {% endif %}

        {% if view_name == "delete_produto" %}
        {% include 'pedidos/produto_delete.html' %}
        {% endif %}

        {% if view_name == "list_produtos" %}
        {% include 'pedidos/produto_list.html' %}
        {% endif %}

    </div> <!-- container -->

</main>


{% endblock content %}