{% extends "base.html" %}

{% load django_tables2 %}

{% load humanize %}

{% block content %}
<main role="main">
    <div class="jumbotron">
        <h1 class="display-4">Pedidos</h1>
    </div>

    <div class="container">
        <div class="row">

            <p><a class="btn btn-outline-primary" href="{% url 'pedido_create' %}" role="button"><i
                        class="bi bi-calendar-plus"></i>&nbsp;Novo Pedido</a></p>

            <div class="container">
                <table class="table table-striped table-sm orderable">
                    {% for column in table.columns %}
                    <th>{{ column.header }}</th>
                    {% endfor %}
                    <th>
                        A&ccedil;&otilde;es
                    </th>
                    {% for row in table.page %}

                    <tr>

                        {% for column, cell in row.items %}
                        <td class="align-middle">
                            {{ cell }}
                        </td>
                        {% endfor %}
                        <td style="min-width: 90px;" class="align-middle text-center">
                            <a href="{% url 'pedido_detail' row.record.codpedido %}"
                                class="btn btn-outline-info px-2 py-1"><i class="bi bi-file-ruled bi-sm"
                                    title="Detalhes"></i> </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>

                <nav>
                    <ul class="pagination justify-content-center mb-5">
                        {% block pagination.allpages %}
                        {% for p in table.paginator.page_range %}
                        <li class="page-item"><a class="page-link"
                                href="{% querystring table.prefixed_page_field=p %}">{{ p }}</a></li>
                        {% endfor %}
                        {% endblock pagination.allpages %}
                    </ul>
                </nav>

            </div>

        </div> <!-- /container -->
    </div>
</main>

{% endblock content %}