<div class="card-body" style="align-items: center;width:60%;">
    <p class="card-text">
    <h5 class="text-left bg-dark text-light">Detalhes do produto:</h5>

    <table class="table tb-sm" style="width:100%">
        <tr>
            <td style="width: 25%; min-width: 25%;">Produto</td>
            <td>{{produto.codproduto}} - {{produto.descricao}}</td>
        </tr>
        <tr>
            <td>Código</td>
            <td>{{produto.codprodutofornecedor}}</td>
        </tr>
        <tr>
            <td>Referência</td>
            <td>{{produto.referencia}}</td>
        </tr>
        <tr>
            <td>Valor Custo</td>
            <td>{{produto.valorcusto|floatformat:2}}</td>
        </tr>
        <tr>
            <td>Observação</td>
            <td>{{produto.observacao}}</td>
        </tr>
        {% if venda %}
        <tr>
            <td colspan="2">
                <h5 class="text-left bg-dark text-light">Detalhes da venda:</h5>
            </td>
        </tr>
        <tr>
            <td>Cód.Venda</td>
            <td>{{venda.codvenda}}</td>
        </tr>
        <tr>
            <td>Data Venda</td>
            <td>{{venda.datavenda|date:"d/m/Y"}}</td>
        </tr>
        <tr>
            <td>Cliente</td>
            <td>{{venda.cliente.codcliente}} - {{venda.cliente.nomecliente}}</td>
        </tr>
        <tr>
            <td>Valor Venda</td>
            <td>{{venda.valorvenda|floatformat:2}}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="2">
                <h5 class="text-left bg-light">Não foram encontradas informações de venda para esse produto.
                </h5>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="2">
                <input class="btn btn-outline-info my-2 my-sm-0" type="button"
                    onclick="location.href='{% url 'pedido_detail' pedido.codpedido %}'" name="voltar" value="Voltar">
            </td>
        </tr>
    </table>
    </p>

    </p>
</div> <!-- card-body -->