{% extends "base.html" %}

{% block content %}

<main role="main">

    <div class="jumbotron">
        <h2 class="display-5"> Apagar Nota Fiscal: {{notafiscal.numeronotafiscal}} </h2>
    </div>

    <div class="container">
        <div class="row">

            {% if error_message %}
            <div class="alert alert-danger">
                <strong>Erro:</strong>
                {{error_message}}
                </ul>
            </div>
            <input class="btn btn-outline-info my-2 my-sm-0" type="button"
                onclick="location.href='{% url 'notafiscal_detail' notafiscal.codnotafiscal %}'" name="voltar"
                value="Voltar">
            {% else %}

            <form action="" method="post"> {% csrf_token %}
                <table class="table">
                    <tr>
                        <td>
                            <p class="text-center">Confirma a exclusão da nota fiscal:
                            <h6 class="text-bold">{{notafiscal.codnotafiscal}} - {{notafiscal.numeronotafiscal}} -
                                {{notafiscal.fornecedor}}</h6>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">
                            <p>
                                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Sim">
                                <input class="btn btn-outline-danger my-2 my-sm-0" type="button"
                                    onclick="location.href='{% url 'notafiscal_detail' notafiscal.codnotafiscal %}'"
                                    name="cancel" value="Não">

                            </p>
                        </td>
                    </tr>
                </table>
            </form>

            {% endif %}
        </div>

        <hr>

    </div> <!-- /container -->

</main>


{% endblock content %}