<h5 class="text-left bg-dark text-light">Lista de pedidos:</h5>
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Pedido</th>
            <th>Data</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>

        {% for pedido in notafiscal.pedidos_set.all %}
        <tr>
            <td>{{pedido.numeropedido}}</td>
            <td>{{pedido.datapedido|date:"d/m/Y"}}</td>
            {%if pedido.tipopedido == 'C' %}
            <td>Compra</td>
            <td class="text-right" style="color:blue">
                R$ {{pedido.valorpedido|floatformat:2}}
            </td>
            {% else %}
            <td>Devolução</td>
            <td class="text-right" style="red">
                (R$ {{pedido.valorpedido|floatformat:2}})
            </td>
            {% endif %}
            <td class="text-right">
                <a class="btn btn-outline-info bt-sm px-2 py-1" href="{% url 'pedido_detail' pedido.codpedido %}"
                    target="_blank">
                    <i class="bi bi-file-ruled" title="Detalhes do pedido"></i></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>