<h5 class="text-left bg-dark text-light">Lista de Pedidos:</h5>


<script>
    function atualizarPedidosSelecionados() {
        const pedidosrelacionadosInput = document.getElementById('pedidosrelacionadosInput');
        const pedidosrelacionadosList = document.getElementById('pedidosrelacionadoslist');
        const checked = pedidosrelacionadosList.options;
        const selectedIds = [...checked].map(option => option.value);
        pedidosrelacionadosInput.value = selectedIds; //JSON.stringify(selectedIds);
    }

    function moveSelectedItems(fromListId, toListId) {
        const fromList = document.getElementById(fromListId);
        const toList = document.getElementById(toListId);
        for (i = fromList.options.length - 1; i >= 0; i--) {
            item = fromList.options[i];
            if (item.selected == true) {
                toList.add(item);
            }
        };
        atualizarPedidosSelecionados();
    }



</script>

<div class="row align-items-center justify-content-center">
    <div class="col-lg-4">

        <select name="pedidosdisponiveislist" id="pedidosdisponiveislist" class="form-control" size="13"
            multiple="multiple">
            {% for pedido in pedidosdisponiveis %}
            <option value="{{ pedido.codpedido }}">
                {{ pedido.numeropedido }}
                | {{pedido.datapedido|date:'d/m/Y'}}
                | {%if pedido.tipopedido == 'C' %} Compra {% else %} Devolução {% endif %}
                | {{pedido.valorpedido|floatformat:2}}
            </option>
            {% endfor %}
        </select>

    </div>
    <div class="col-lg-2">
        <button type="button" id="lstview_leftSelected" class="btn btn-default btn-block btn-info"
            onclick="moveSelectedItems('pedidosdisponiveislist', 'pedidosrelacionadoslist')">
            <i class="bi bi-box-arrow-in-right"></i>
            Relacionar
        </button>
        <button type="button" id="lstview_rightSelected" class="btn btn-default btn-block btn-info"
            onclick="moveSelectedItems('pedidosrelacionadoslist', 'pedidosdisponiveislist' )">
            <i class="bi bi-box-arrow-in-left"></i>
            Desassociar
        </button>
    </div>

    <div class="col-lg-4">
        <select name="pedidosrelacionadoslist" id="pedidosrelacionadoslist" class="form-control" size="13"
            multiple="multiple">
            {% for pedido in pedidosrelacionados %}
            <option value="{{ pedido.codpedido }}">
                {{ pedido.numeropedido }}
                | {{pedido.datapedido|date:'d/m/Y'}}
                | {%if pedido.tipopedido == 'C' %} Compra {% else %} Devolução {% endif %}
                | {{pedido.valorpedido|floatformat:2}}
            </option>
            {% endfor %}
        </select>

    </div>
</div>
<div class="row justify-content-center">
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="codnotafiscal" id="codnotafiscal" value="{{notafiscal.codnotafiscal}}">
        <input type="hidden" name="pedidosrelacionadosInput" id="pedidosrelacionadosInput">
        <p>
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Save" name="submit" id="submit">
            <input class="btn btn-outline-danger my-2 my-sm-0" type="button"
                onclick="location.href='{% url 'notafiscal_detail' notafiscal.codnotafiscal %}'" name="cancel"
                value="Cancelar">

        </p>
    </form>
</div>