{% extends "base.html" %}

{% block content %}

<main role="main">

    <div class="jumbotron">
        <h2 class="display-5"> Detalhes da Nota Fiscal {{notafiscal.numeronotafiscal}} </h2>
    </div>

    <div class="container">

        <p>
            <a class="btn btn-outline-info" href="{% url 'notasfiscais' %}" role="button"
                title="Listagem de Notas Fiscais">
                <i class="bi bi-arrow-left-square-fill"></i>
                Notas Fiscais
            </a>
        </p>

        <div class="card" style="align-items: left;">
            <div class="card-body" style="align-items: center;width:100%;">
                <h5 class="card-title text-bold">Nota Fiscal: {{notafiscal.numeronotafiscal}} </h5>
                <p class="card-text">
                <table class="table" style="width:100%">
                    <tr>
                        <td style="width: 25%; min-width: 25%;">Código</td>
                        <td>{{notafiscal.codnotafiscal}}</td>
                    </tr>
                    <tr>
                        <td>Fornecedor</td>
                        <td>{{notafiscal.fornecedor}}</td>
                    </tr>
                    <tr>
                        <td>Data </td>
                        <td>{{notafiscal.datanotafiscal|date:"d/m/Y"}}</td>
                    </tr>
                    <tr>
                        <td>Valor</td>
                        <td>{{notafiscal.valornotafiscal|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td>Observação</td>
                        <td>{{notafiscal.observacao|default_if_none:"---"}}</td>
                    </tr>
                    <tr>
                        <td>Forma de Pagamento</td>
                        <td>{{notafiscal.formapagamento|default_if_none:"---"}}</td>
                    </tr>
                    {% if view_name == "list_contaspagar" %}
                    <tr>
                        <td> &nbsp;</td>
                        <td class="text-right">
                            <p>
                                <a class="btn btn-outline-warning my-2 my-sm-0"
                                    href="{% url 'notafiscal_edit' notafiscal.codnotafiscal %}" role="button"
                                    title="Alterar notafiscal">
                                    <i class="bi bi-pencil-square"></i>
                                    Alterar</a>
                                <a class="btn btn-outline-danger my-2 my-sm-0"
                                    href="{% url 'notafiscal_delete' notafiscal.codnotafiscal %}" role="button"
                                    title="Apagar notafiscal">
                                    <i class="bi bi-trash"></i>
                                    Apagar</a>
                            </p>
                        </td>
                    </tr>
                    {% endif %}
                </table>
                </p>

                {% if view_name == "list_contaspagar" or view_name == "list_notaspedidos" %}

                {% if error_message %}
                <div class="alert alert-danger">
                    <strong>ATENÇÃO: </strong>{{error_message}}
                    </ul>
                </div>
                {% endif %}

                <div>
                    <a class="btn btn-outline-info my-2 my-sm-0 "
                        href="{% url 'contapagar_create' notafiscal.codnotafiscal %}" role="button" title="Nova Venda">
                        <i class="bi bi-currency-dollar"></i>
                        Nova Conta a Pagar</a>
                    <a class="btn btn-outline-info my-2 my-sm-0"
                        href="{% url 'notafiscal_detail' notafiscal.codnotafiscal 'edit_notaspedidos' %}" role="button"
                        title="Novo Pagamento">
                        <i class="bi bi-list-columns"></i>
                        Relacionar Pedidos</a>
                </div>

                {% endif %}

            </div> <!-- card-body -->
        </div> <!-- card -->

        <div class="card" style="align-items: center;">
            <div class="card-body" style="align-items: center;width:100%;">

                {% if view_name == "list_contaspagar" or view_name == "list_notaspedidos" %}

                <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item">
                        <a class="nav-link {% if view_name == 'list_contaspagar' %} active  bg-dark text-light {% endif %}"
                            aria-current="page"
                            href="{% url 'notafiscal_detail' notafiscal.codnotafiscal 'list_contaspagar' %}">
                            <i class="bi bi-currency-dollar"></i>
                            Contas a Pagar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if view_name == 'list_notaspedidos' %}active  bg-dark text-light {% endif %}"
                            href="{% url 'notafiscal_detail' notafiscal.codnotafiscal 'list_notaspedidos' %}">
                            <i class="bi bi-list-columns"></i>
                            Pedidos</a>
                    </li>
                </ul>

                {% endif %}

                {% if view_name == "list_notaspedidos" %}
                {% include 'notasfiscais/notaspedidos_list.html' %}
                {% endif %}

                {% if view_name == "edit_notaspedidos" %}
                {% include 'notasfiscais/notaspedidos_edit.html' %}
                {% endif %}

                {% if view_name == "edit_contaspagar" %}
                {% include 'notasfiscais/contapagar_list.html' %}
                {% endif %}

                {% if view_name == "list_contaspagar" %}
                {% include 'notasfiscais/contapagar_list.html' %}
                {% endif %}

                {% if view_name == "create_contapagar" or view_name == "edit_contapagar" %}
                {% include 'notasfiscais/contapagar_edit.html'%}
                {% endif %}

                {% if view_name == "detail_contapagar" %}
                {% include 'notasfiscais/contapagar_detail.html' %}
                {% endif %}

                {% if view_name == "delete_contapagar" %}
                {% include 'notasfiscais/contapagar_delete.html' %}
                {% endif %}

            </div> <!-- card-body -->
        </div> <!-- card -->

    </div> <!-- container -->

</main>


{% endblock content %}