{% extends "base.html" %}

{% block content %}

<main role="main">

    <div class="jumbotron">
        <h2 class="display-5"> Detalhes da Venda {{venda.codvenda}} </h2>
    </div>

    <div class="container">

        <p><a class="btn btn-outline-info" href="{% url 'cliente_detail' venda.cliente.codcliente 'vendas_cliente' %}"
                role="button" title="Voltar para Detalhes do Cliente">
                <i class="bi bi-list-columns-reverse"></i>
                Detalhes do Cliente</a></p>

        <div class="card" style="align-items: center;">
            <div class="card-body" style="align-items: center;width:60%;">
                <h5 class="card-title text-bold">Venda: {{venda.codvenda}} </h5>
                <p class="card-text">
                <table class="table" style="width:100%">
                    <tr>
                        <td style="width: 25%; min-width: 25%;">Cliente</td>
                        <td>{{venda.cliente.codcliente}} - {{venda.cliente.nomecliente}} </td>
                    </tr>
                    <tr>
                        <td>Produto</td>
                        <td>{{venda.produto.codproduto}} - {{venda.produto.descricao}} </td>
                    </tr>
                    <tr>
                        <td>Preço de Custo</td>
                        <td>{{venda.produto.valorcusto|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td>Data da Venda</td>
                        <td>{{venda.datavenda|date:"d/m/Y"}}</td>
                    </tr>
                    <tr>
                        <td>Valor Venda</td>
                        <td>{{venda.valorvenda|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td>Observação</td>
                        <td>{{venda.observacao}}</td>
                    </tr>
                </table>
                </p>
            </div> <!-- card-body -->
        </div> <!-- card -->



        {% if view_name == "create_produto" %}
        <div class="card" style="align-items: center;">
            <div class="card-header text-bold bg-info text-light" style="align-items: center;width:60%;">
                <h5>Criar Produto:</h5>
            </div>
            {% include 'pedidos/produto_edit.html'%}
        </div> <!-- card -->
        {% endif %}

        {% if view_name == "edit_produto" %}
        <div class="card" style="align-items: center;">
            <div class="card-header text-bold bg-info text-light" style="align-items: center;width:60%;">
                <h5>Alterar Produto:</h5>
            </div>
            {% include 'pedidos/produto_edit.html'%}
        </div> <!-- card -->
        {% endif %}

        {% if view_name == "detail_produto" %}
        {% include 'pedidos/produto_detail.html' %}
        {% endif %}

        {% if view_name == "delete_produto" %}
        {% include 'pedidos/produto_delete.html' %}
        {% endif %}

        {% if view_name == "list_produtos" %}
        {% include 'pedidos/produto_list.html' %}
        {% endif %}

    </div> <!-- container -->

</main>


{% endblock content %}