{% extends "base.html" %}

{% block content %}

<main role="main">

    <div class="jumbotron">
        <h1 class="display-4"> Welcome to RLN CLothes Web App Home Page</h1>
    </div>


    <div>
        <div class="row">
            <div class="col"><img src="{% url 'dashboardrecebervspagar' %}" alt="Dashboard"></div>
            <div class="col">
                <img src="{% url 'dashboardultimasvendas' %}" alt="Dashboard"><br />
                <img src="{% url 'dashboardultimospagamentos' %}" alt="Dashboard">
            </div>
        </div>

    </div>
</main>

{% endblock content %}