{% extends "base.html" %}

{% block content %}

<main role="main">

    <div class="jumbotron">
        <h1 class="display-4"> Welcome to RLN CLothes Web App Home Page</h1>
    </div>

    <div class="row text-center">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">Total a Receber</div>
            <div class="card-body">
                <h5 class="card-title">R$ {{totalareceber|floatformat:2}}</h5>
            </div>
        </div>
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header">Total a Pagar</div>
            <div class="card-body">
                <h5 class="card-title">R$ {{totalapagar|floatformat:2}}</h5>
            </div>
        </div>
    </div>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col" colspan="4" class="text-center">Últimas Vendas</th>
            </tr>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Cliente</th>
                <th scope="col">Produto</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for row in ultimasvendas %}
            <tr>
                <td>{{row.0}}</td>
                <td>{{row.1}}</td>
                <td>{{row.2}}</td>
                <td>R$ {{row.3|floatformat:2}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col" colspan="4" class="text-center">Últimos Pagamentos Recebidos</th>
            </tr>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Cliente</th>
                <th scope="col">Descrição</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for row in ultimospagamentos %}
            <tr>
                <td>{{row.0}}</td>
                <td>{{row.1}}</td>
                <td>{{row.2}}</td>
                <td>R$ {{row.3|floatformat:2}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

</main>

{% endblock content %}