{% extends "base.html" %}

{% load django_tables2 %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Pedidos</h1>
</div>

<p><a class="btn btn-primary" href="{% url 'pedido_new' %}" role="button">Novo Pedido</a></p>

<ul>
    {% for pedido in pedido_list %}
    <li>{{pedido.codpedido}}
        {{pedido.codfornecedor}}
        {{pedido.datapedido}}
        {{pedido.valorpedido}}
        {{pedido.observacao}}
        <!--
        <a href="{% url 'pedido_detail' pedido.pk %}">view</a>|
        <a href="{% url 'pedido_edit' pedido.pk %}">edit</a>|
        <a href="{% url 'pedido_delete' pedido.pk %}">delete</a>
        -->
    </li>
    {% endfor %}
</ul>

{% render_table pedido_list %}

{% endblock content %}