{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Clientes Page</h1>
</div>

<p><a class="btn btn-secondary" href="{% url 'cliente_new' %}" role="button">Novo Cliente</a></p>

<ul>
    {% for cliente in cliente_list %}
    <li>{{cliente.codcliente}} - {{cliente.cliente}}
        <a href="{% url 'cliente_detail' cliente.pk %}">view</a>|
        <a href="{% url 'cliente_edit' cliente.pk %}">edit</a>|
        <a href="{% url 'cliente_delete' cliente.pk %}">delete</a>
    </li>
    {% endfor %}
</ul>

{% endblock content %}